/*----------------------------------------------
Style CSS
------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body {
    background: #fee;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: #000;
    padding: 20px;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_wrap h1 {
    color: #fff;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fee;
}

